{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success col-md-6 ml-auto mr-auto">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger col-md-6 ml-auto mr-auto">
                {{ message }}
            </div>
        {% endfor %}
        {% if error %}
            <div class="alert alert-danger col-md-6 ml-auto mr-auto">
                {{ error.messageKey|trans(error.messagedata, 'security') }}
            </div>
        {% endif %}
        <div class="row ">
            <div class="col-md-4 ml-auto mr-auto">
                <form method="post">

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                    <label for="inputUsername">User Name</label>
                    <input type="text" class="form-control" name="username" id="inputUsername"  required>
                    <label for="inputPhone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="inputPhone"  required>
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" name="password"  id="inputPassword" required>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="btn btn-lg btn-primary mt-4" type="submit">
                        Sign in
                    </button>
                    <a href="{{ path('register') }}" class="btn btn-lg btn-primary mt-4">Register</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
