{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row ">
            <div class="col-md-4 ml-auto mr-auto">
                {{ form_start(form) }}
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.phone) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword) }}
                </div>
                <button class="btn btn-lg btn-primary mt-4" type="submit">
                    Register
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
